In [1]:
import numpy as np 
import pandas as pd

# DatetimeIndex
###freq = defalut('D') 기본값은 Day
### s: 초
### T: 분
### H: 시간
### D: 일(day)
### B: 주말이 아닌 평일
### W: 주(일요일)
### W-MON: 주(월요일)
### M: 각 달(month)의 마지막 날
### MS: 각 달의 첫날
### BM: 주말이 아닌 평일 중에서 각 달의 마지막 날
### MS: 주말이 아닌 평일 중에서 각 달의 첫날
### WOM-2THU: 각 달의 두번째 목요일
### Q-JAN: 각 분기의 첫달의 마지막 날
### Q-DEC: 각 분기의 마지막 달의 마지막 날

In [5]:
date_str = ["2018, 1, 1", "2018, 1, 4", "2018, 1, 5", "2018, 1, 6"]
date_str1 = ["2018-1-1", "2018-1-4", "2018-1-5", "2018-1-6"]

In [8]:
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [7]:
idx1 = pd.to_datetime(date_str1)
idx1

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [15]:
np.random.seed(2021)
s= pd.Series(np.random.randn(4),index=pd.to_datetime(date_str))
s

2018-01-01    1.488609
2018-01-04    0.676011
2018-01-05   -0.418451
2018-01-06   -0.806521
dtype: float64

In [20]:
pd.date_range("2021-3-1","2021-3-31")

DatetimeIndex(['2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04',
               '2021-03-05', '2021-03-06', '2021-03-07', '2021-03-08',
               '2021-03-09', '2021-03-10', '2021-03-11', '2021-03-12',
               '2021-03-13', '2021-03-14', '2021-03-15', '2021-03-16',
               '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-20',
               '2021-03-21', '2021-03-22', '2021-03-23', '2021-03-24',
               '2021-03-25', '2021-03-26', '2021-03-27', '2021-03-28',
               '2021-03-29', '2021-03-30', '2021-03-31'],
              dtype='datetime64[ns]', freq='D')

In [23]:
pd.date_range("2021-3-1",periods=32)
# D-day로부터 32일 이후까지

DatetimeIndex(['2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04',
               '2021-03-05', '2021-03-06', '2021-03-07', '2021-03-08',
               '2021-03-09', '2021-03-10', '2021-03-11', '2021-03-12',
               '2021-03-13', '2021-03-14', '2021-03-15', '2021-03-16',
               '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-20',
               '2021-03-21', '2021-03-22', '2021-03-23', '2021-03-24',
               '2021-03-25', '2021-03-26', '2021-03-27', '2021-03-28',
               '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pd.date_range("2021-3-1",periods=32, freq='M') #월 마지막날

DatetimeIndex(['2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30',
               '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31',
               '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28',
               '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30',
               '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31',
               '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28',
               '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30',
               '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31'],
              dtype='datetime64[ns]', freq='M')

In [25]:
pd.date_range("2021-3-1",periods=32, freq='B') #평일

DatetimeIndex(['2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04',
               '2021-03-05', '2021-03-08', '2021-03-09', '2021-03-10',
               '2021-03-11', '2021-03-12', '2021-03-15', '2021-03-16',
               '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-22',
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-01',
               '2021-04-02', '2021-04-05', '2021-04-06', '2021-04-07',
               '2021-04-08', '2021-04-09', '2021-04-12', '2021-04-13'],
              dtype='datetime64[ns]', freq='B')

In [27]:
pd.date_range("2021-3-1","2021-3-31", freq='W') #주말

DatetimeIndex(['2021-03-07', '2021-03-14', '2021-03-21', '2021-03-28'], dtype='datetime64[ns]', freq='W-SUN')

# shift 연산
## 시계열 데이터의 인덱스는 시간이나 날짜를 나타내기 때문에 날짜 이동 등의 다양한 연산이 가능하다. 예를 들어 shift 연산을 사용하면 인덱스는 그대로 두고 데이터만 이동할 수도 있다.

In [31]:
np.random.seed(0)
ts = pd.Series(np.random.randn(4), index=pd.date_range(
    "2018-1-1", periods=4, freq="M"))
ts

2018-01-31    1.764052
2018-02-28    0.400157
2018-03-31    0.978738
2018-04-30    2.240893
Freq: M, dtype: float64

In [32]:
ts.shift(1) # random값이 하나씩 밀림

2018-01-31         NaN
2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
Freq: M, dtype: float64

In [33]:
ts.shift(-1) # random값이 하나씩 당김

2018-01-31    0.400157
2018-02-28    0.978738
2018-03-31    2.240893
2018-04-30         NaN
Freq: M, dtype: float64

## resample
### resample 연산을 쓰면 시간 간격을 재조정하는 리샘플링(resampling)이 가능하다.
### 이 때 시간 구간이 작아지면 데이터 양이 증가한다고 해서 업-샘플링(up-sampling)이라 하고 시간 구간이 커지면 데이터 양이 감소한다고 해서 다운-샘플링(down-sampling)이라 부른다

In [41]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2018-1-1", periods=100))
ts

2018-01-01   -1.768538
2018-01-02    0.355482
2018-01-03    0.814520
2018-01-04    0.058926
2018-01-05   -0.185054
                ...
2018-04-06   -0.077855
2018-04-07    0.382732
2018-04-08   -0.034242
2018-04-09    1.096347
2018-04-10   -0.234216
Freq: D, Length: 100, dtype: float64

In [42]:
ts.tail() #마지막 5개를 보여줌

2018-04-06   -0.077855
2018-04-07    0.382732
2018-04-08   -0.034242
2018-04-09    1.096347
2018-04-10   -0.234216
Freq: D, dtype: float64

In [43]:
ts.head() #처음부터 5개를 보여줌

2018-01-01   -1.768538
2018-01-02    0.355482
2018-01-03    0.814520
2018-01-04    0.058926
2018-01-05   -0.185054
Freq: D, dtype: float64

In [48]:
ts.resample('W').mean() #'W' - 주간 단위로 평균값을 출력  
# N 단위로 Sampling 하는 방법

2018-01-07   -0.425550
2018-01-14    0.455404
2018-01-21    0.378618
2018-01-28   -0.555120
2018-02-04    0.302427
2018-02-11   -0.086757
2018-02-18   -0.167352
2018-02-25    0.016776
2018-03-04   -0.115010
2018-03-11   -0.910216
2018-03-18    0.795141
2018-03-25   -0.004315
2018-04-01    0.555636
2018-04-08   -0.284874
2018-04-15    0.431066
Freq: W-SUN, dtype: float64

## dt접근자
### datetime 자료형 시리즈에는 dt 접근자가 있어 datetime 자료형이 가진 몇가지 유용한 속성과 메서드를 사용할 수 있다.

In [50]:
s = pd.Series(pd.date_range("2020-12-25", periods=100))
s

0    2020-12-25
1    2020-12-26
2    2020-12-27
3    2020-12-28
4    2020-12-29
        ...
95   2021-03-30
96   2021-03-31
97   2021-04-01
98   2021-04-02
99   2021-04-03
Length: 100, dtype: datetime64[ns]

In [52]:
s.dt.year
#year, month, day, weekday 등의 속성을 이용하면 년, 월, 일, 요일 정보를 빼낼 수 있다.

0     2020
1     2020
2     2020
3     2020
4     2020
      ...
95    2021
96    2021
97    2021
98    2021
99    2021
Length: 100, dtype: int64

In [55]:
s.dt.weekday

0     4
1     5
2     6
3     0
4     1
     ..
95    1
96    2
97    3
98    4
99    5
Length: 100, dtype: int64